.promotions {
  background-color: #222e34;
  background-image: url("/assets/images/logo_bg_negro.png");
  background-size: 20%;
  background-attachment: fixed;
}

.promo-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0px 0px 30px 30px ;
}

.promo-track {
  position: relative;
  width: 100%;
  height: auto;
}

.promo-track img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.promo-track img.active {
  opacity: 1;
  position: relative;
}


.promo-prev,
.promo-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0 12px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s;
}

.promo-prev:hover,
.promo-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.promo-prev {
  left: 10px;
}

.promo-next {
  right: 10px;
}