/*@ Navbar */
.mobile_nav_button {
  color: var(--blue) !important;
  font-size: 20px;
}

/*@ Generales  */
.ecomedics_bold {
  color: var(--red) !important;
  font-weight: bolder;
}

.ixtapaluca_bold {
  color: var(--blue) !important;
  font-weight: bolder;
}

.red_bold {
  color: var(--red);
  font-weight: bold;
}

.blue_bold {
  color: var(--blue);
  font-weight: bold;
}

/*@ About Us */
.about-content h3 {
  text-align: center;
}

.about-content .values_mv {
  text-align: center;
}

.about-content h3 i {
  color: var(--red);
}

.about-content h3 span {
  color: var(--blue);
  font-weight: bolder;
}

.values {
  margin-top: -5rem;
}

.individual_value {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.individual_value strong {
  color: var(--blue);
  font-weight: bold;
  font-size: large;
}

.individual_value p {
  margin-left: 0px !important;
  margin-top: 1rem;
}

.hr_value {
  background-color: var(--red);
  width: 120px;
  height: 3px;
  margin: 0 auto;
}

/*@ Services */
.services .container {
  padding-top: 2rem;
}
.services ul {
  margin-left: 1rem;
  color: white;
}

.services img {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/*@ Branches  */
.branches_card_numbers {
  color: var(--red);
}

/*@ Footer  */
.footer__rrss {
  text-align: center;
  margin-top: 10px;
}

.footer__rrss i {
  color: var(--white);
  font-size: 2rem;
  margin: 0 10px 0 10px;

  &:hover {
    animation: mid_scale 2s infinite;
  }
}

/*@ Responsive  */
@media only screen and (max-width: 767px) {
  .footer .container .box h3 {
    margin-top: 1.5rem;
    font-size: 1.3rem;
  }

  .comunity h1 {
    font-size: 18px;
  }

  .about-content .values_mv {
    text-align: left;
  }
}
