/*@ Generales  */
.ecomedics_bold {
  color: var(--red) !important;
  font-weight: bolder;
}

.ixtapaluca_bold {
  color: var(--blue) !important;
  font-weight: bolder;
}

.red_bold {
  color: var(--red);
  font-weight: bold;
}

.blue_bold {
  color: var(--blue);
  font-weight: bold;
}

/*@ About Us */
.valores ul {
  padding-left: 4rem;
}

.valores p {
  margin-left: 0px !important;
  margin-bottom: 0rem !important;
}

.valores_2 {
  justify-content: center;
}

.valor_individual {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.valor_individual strong {
  color: var(--blue);
  font-weight: bold;
  font-size: large;
}

.valor_individual p {
  margin-left: 0px !important;
  margin-top: 1rem;
}

.valores__line {
  background-color: var(--red);
  width: 120px;
  height: 3px;
  margin: 0 auto;
}
/*@ IxtapalucaEsEcomedics  */
.hashtag {
  color: var(--red);
}

/*@ Services */
.services ul {
  margin-left: 1rem;
  color: white;
}

.services img {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/*@ Branches  */
.branches__numbers {
  color: var(--red);
}

/*@ Footer  */
.footer__rrss {
  text-align: center;
  margin-top: 10px;
}

.footer__rrss i {
  color: var(--white);
  font-size: 2rem;
  margin: 0 10px 0 10px;

  &:hover {
    animation: mid_scale 2s infinite;
  }
}